<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coffee.api.mapper.CommonMapper">

  <!-- 1. Check if ACTIVE staff exists by Profile ID -->
  <select id="checkStaffExisted" resultType="java.lang.Boolean">
    SELECT EXISTS (
      SELECT 1
      FROM profiles
      WHERE profile_id = #{profileId}
        AND deleted_at IS NULL
    )
  </select>

  <!-- 2. Check if username already exists for active users -->
  <select id="checkStaffExistedByUsername" resultType="java.lang.Boolean">
    SELECT EXISTS (
      SELECT 1
      FROM profiles
      WHERE username = #{username}
        AND deleted_at IS NULL
    )
  </select>

  <!-- 3. Check if phone number exists for active users during creation -->
  <select id="checkStaffPhoneExistedForCreate" resultType="java.lang.Boolean">
    SELECT EXISTS (
      SELECT 1
      FROM profiles
      WHERE phone_number = #{phoneNumber}
        AND deleted_at IS NULL
    )
  </select>

  <!-- 4. Check if email already exists for active users -->
  <select id="checkStaffEmailExisted" resultType="java.lang.Boolean">
    SELECT EXISTS (
      SELECT 1
      FROM profiles
      WHERE email = #{email}
        AND deleted_at IS NULL
    )
  </select>

  <!-- 5. Check if phone number is taken by ANOTHER active account (for updates) -->
  <select id="checkStaffPhoneExisted" resultType="java.lang.Boolean">
    SELECT EXISTS (
      SELECT 1
      FROM profiles
      WHERE phone_number = #{phoneNumber}
        AND profile_id != #{profileId}
        AND deleted_at IS NULL
    )
  </select>

  <!-- 6. Check if drink exists by Drink ID -->
  <select id="checkDrinkExisted" resultType="java.lang.Boolean">
    SELECT EXISTS (
    SELECT 1
    FROM drinks
    WHERE drink_id = #{drinkId}
    AND deleted_at IS NULL
    )
  </select>

</mapper>