<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coffee.api.mapper.CreateStaffMapper">

  <insert id="createStaff">
    WITH new_profile AS (
      INSERT INTO profiles (
                            profile_id,
                            email,
                            username,
                            full_name,
                            password,
                            phone_number,
                            role_id,
                            is_deleted,
                            created_at
        ) VALUES (
                   gen_random_uuid(),
                   #{email},
                   #{username},
                   #{fullName},
                   '$2a$10$bb2BXUmirgikrz7RMR1D9OV69RBckkaNZMV8dva.3WjggnOIhLudW',
                   #{phoneNumber},
                   CASE
                     WHEN #{currentUserRoleName} = 'OWNER' THEN #{roleId}
                     ELSE (SELECT role_id FROM roles WHERE role_name = 'STAFF' AND is_deleted = false LIMIT 1)
                     END,
                   false,
                   NOW() AT TIME ZONE 'Asia/Ho_Chi_Minh'
                 )
        RETURNING profile_id
    )
    INSERT INTO profile_shops (
      profile_shop_id,
      profile_id,
      shop_id,
      role_id,
      created_at
    )
    SELECT
      gen_random_uuid(),
      np.profile_id,
      #{shopId},
      CASE
        WHEN #{currentUserRoleName} = 'OWNER' THEN #{roleId}
        ELSE (SELECT role_id FROM roles WHERE role_name = 'STAFF' AND is_deleted = false LIMIT 1)
        END,
      NOW() AT TIME ZONE 'Asia/Ho_Chi_Minh'
    FROM new_profile np;
  </insert>

</mapper>