<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coffee.api.mapper.CreateCategoriesMapper">

  <insert id="createCategories">
    INSERT INTO drink_categories (
    drink_category_id,
    shop_id,
    category_name,
    is_deleted
    )
    SELECT
    gen_random_uuid(),
    #{request.shopId},
    TRIM(#{request.categoryName}),
    false
    WHERE EXISTS (
    SELECT 1
    FROM shops s
    WHERE s.shop_id = #{request.shopId}
    AND s.deleted_at IS NULL
    )
    <choose>
      <when test="currentUserRoleName == 'OWNER'">
        <!-- OWNER can create for any active shop -->
      </when>
      <when test="currentUserRoleName == 'MANAGER'">
        AND #{request.shopId} = #{currentUserShopId}
      </when>
      <otherwise>
        AND 1 = 0
      </otherwise>
    </choose>
  </insert>

</mapper>