<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coffee.api.mapper.DeleteStaffMapper">

  <update id="deleteStaff">
    <!-- 1. HARD DELETE the staff-shop relationship assignment -->
    DELETE FROM profile_shops
    WHERE profile_id = #{profileId};

    <!-- 2. SOFT DELETE the user profile -->
    UPDATE profiles
    SET
    updated_at = NOW() AT TIME ZONE 'Asia/Ho_Chi_Minh',
    deleted_at = NOW() AT TIME ZONE 'Asia/Ho_Chi_Minh'
    WHERE profile_id = #{profileId}
    AND deleted_at IS NULL;
  </update>

</mapper>