<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coffee.api.mapper.DeleteTablesMapper">

  <update id="deleteTable">
    UPDATE shop_tables
    SET
    is_deleted = true,
    deleted_at = CURRENT_TIMESTAMP
    WHERE table_id = #{tableId}

    <choose>
      <!-- OWNER can delete any table -->
      <when test="currentUserRoleName == 'OWNER'">
        <!-- no extra condition -->
      </when>

      <!-- MANAGER can delete only tables from their shop -->
      <when test="currentUserRoleName == 'MANAGER'">
        AND shop_id = #{currentUserShopId}
      </when>
    </choose>
  </update>

</mapper>
