<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coffee.api.mapper.UpdateCategoryMapper">

  <update id="updateCategory">
    UPDATE drink_categories
    SET
    category_name = TRIM(#{request.categoryName})
    WHERE drink_category_id = #{request.categoryId}
    AND deleted_at IS NULL
    <choose>
      <!-- OWNER can update categories in any shop, but never moves them across shops -->
      <when test="currentUserRoleName == 'OWNER'">
        AND shop_id = #{request.shopId}
      </when>

      <!-- MANAGER can update only categories belonging to their shop -->
      <when test="currentUserRoleName == 'MANAGER'">
        AND shop_id = #{currentUserShopId}
      </when>

      <otherwise>
        AND 1 = 0
      </otherwise>
    </choose>
  </update>

</mapper>