<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coffee.api.mapper.UpdateDrinkMapper">

  <select id="getDrinkImageUrl" resultType="java.lang.String">
    SELECT image_url
    FROM drinks
    WHERE drink_id = #{drinkId}
    AND is_deleted = FALSE

    <choose>
      <when test="currentUserRoleName == 'OWNER'">
        <!-- Full access -->
      </when>
      <when test="currentUserRoleName == 'MANAGER'">
        AND shop_id = #{currentUserShopId}
      </when>
      <otherwise>
        AND 1 = 0
      </otherwise>
    </choose>
  </select>

  <update id="updateDrink">
    <!-- Update table drinks -->
    WITH updated_drink AS (
    UPDATE drinks
    <set>
      drink_name = #{drinkName},
      image_url = #{imageUrl},
      status = #{status},
      drink_category_id = #{drinkCategoryId},

      <if test="currentUserRoleName == 'OWNER' and shopId != null">
        shop_id = #{shopId},
      </if>
    </set>
    WHERE drink_id = #{drinkId}
    AND is_deleted = FALSE

    <choose>
      <when test="currentUserRoleName == 'OWNER'">
        <!-- Full access -->
      </when>
      <when test="currentUserRoleName == 'MANAGER'">
        AND shop_id = #{shopId}
      </when>
      <otherwise>
        AND 1 = 0
      </otherwise>
    </choose>
    RETURNING drink_id
    )
    <!-- Update table drink_details -->
    UPDATE drink_details
    SET price = #{price}
    WHERE drink_id IN (SELECT drink_id FROM updated_drink)
    AND size = #{size};
  </update>

</mapper>