<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coffee.api.mapper.UpdateDrinkMapper">

  <update id="updateDrink">
    UPDATE drinks
    SET
    drink_name = #{drinkName},
    image_url = #{imageUrl},
    status = #{status},
    drink_category_id = #{drinkCategoryId},
    shop_id = #{shopId}
    WHERE drink_id = #{drinkId}
    AND is_deleted = false
  </update>

</mapper>